<div class="container">
    
    <h1>About Me</h1>      <!--page header -->
    <p>Hello, my name is Vincent Dim</p>          <!--page content -->

    <p>I was born in Port Harcourt, Nigeria. I obtained a diploma in Computer Systems Technology from Centennial College. I then obtained a Nanoscience degree from the University of Guelph. I currently live in Guelph, Ontario, Canada and have done so for about 6 years. I like soccer (football) and support Arsenal FC.</p>

    <p>My resume can be seen here:</p> 
    <a href="https://drive.google.com/file/d/11CA-YsBkwPqdLFYJ_xoalaPxQFXB0sVa/view?usp=sharing">Resume</a>

    <a href="https://drive.google.com/file/d/13ySEgAgWLCNaokAqs4Op3LNoyNCJgfXW/view?usp=sharing">
      <img src="https://drive.google.com/file/d/13ySEgAgWLCNaokAqs4Op3LNoyNCJgfXW/view?usp=sharing"
      style="width: 500px; max-width: 100%; height: auto"
      title="Click for the larger version." />
  </a>
    

     
  </div>

  


