<div class="container">
    <h1>Contact Me</h1>

    <ul>
    <li>Phone: 6477042657</li>
    <li>Address: 118 Vaughan Street, Guelph, ON</li>
    </ul>

    <form action="/home">                 <!-- /home redirects to home page when submitted -->
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value=""><br><br>
      
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value=""><br><br>

      <label for="pnumber">Phone number:</label><br>
      <input type="tel" id="pnumber" name="pnumber" value=""><br><br>

      <label for="email_addr">email:</label><br>
      <input type="email" id="email_addr" name="email_addr" value=""><br><br>

      <label for="comment"></label>
      <textarea id="comment" name="comment" rows="4" cols="50">Leave a comment...
      </textarea>
  
            
      <input type="submit" value="Submit">
    </form> 




  </div>