<div class="container">
    <h1>Contact Me</h1>

    <ul>
    <li>Phone: 6477042657</li>
    <li>Address: 118 Vaughan Street, Guelph, ON</li>
    </ul>

    <form action="/action_page.php">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value="John"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value="Doe"><br><br>
      <input type="submit" value="Submit">
    </form> 




  </div>