<div class="container">
    <h1>Welcome to my site!</h1>

    <p>Mission statement: To recognize the potential in humanity and inspire growth through optimistic dedication to one’s chosen interests</p>
    
    <p><a href="http://localhost:3000/about">HTML tutorial</a></p>


  </div>