<div class="container">
    
    <h1>My Projects</h1>

    <p style="color:green; font-size:30px;">Electrochemical and gravimetric studies of graphene-based nanocomposites for hydrogen storage</b></p>
    
    <p>A hydrogen economy is more practical because hydrogen has a greater energy to mass ratio than any fuel. However, hydrogen has low energy per unit volume. As a result, I performed research to find ideal materials for hydrogen storage. Hydrogen spillover mechanism, where hydrogen atoms adsorbed on a metal nanoparticle migrate to a nonmetal support, was used to produce materials capable of efficiently storing and releasing hydrogen. I implemented solid-state hydrogen storage, via electrochemical and gravimetric methods. Palladium metal nanoparticle was chosen due to its tendency to form stable hydrides and partake in hydrogen spillover with graphene. Graphene was chosen as the support material due to its high gravimetric and volumetric capacity. Transmission electron microscopy (TEM) results below show that doping graphene with boron increases the dispersion of the palladium nanoparticles on its surface. </p>

    
    <img src="https://drive.google.com/uc?id=10G8PfDVPlQh3Ug0dvdaCAQd7VhPuKW86" alt="The hydrogen economy" width="500" height="400" />

    <img src="https://drive.google.com/uc?id=1oxbcstcIq7etjxYelmWdbEvIWtAeBPGu" alt="Palladium nanoparticles on graphene" width="400" height="400" /> 



    




  </div>


  