<div class="container">
    
    <h1>My Projects</h1>

    <p style="font-size:30px;">Electrochemical and gravimetric studies of graphene-based nanocomposites for hydrogen storage</b></p>
    
    <p>A hydrogen economy is more practical because hydrogen has a greater energy to mass ratio than any fuel. However, hydrogen has low energy per unit volume. As a result, I performed research to find ideal materials for hydrogen storage. Hydrogen spillover mechanism, where hydrogen atoms adsorbed on a metal nanoparticle migrate to a nonmetal support, was used to produce materials capable of efficiently storing and releasing hydrogen. Solid-state hydrogen storage via electrochemical and gravimetric methods were implemented as techniques for hydrogen storage - as they facilitate hydrogen spillover. Palladium metal nanoparticle was chosen due to its tendency to form stable hydrides and partake in hydrogen spillover with graphene. Graphene was chosen as the support material due to its high gravimetric and volumetric capacity. TEM and SEM results show that doping graphene with boron increases the dispersion of the palladium nanoparticles on its surface. CV results show that decorating the boron doped rGO with palladium improves its hydrogen sorption. Gravimetric studies on rGO performed worse than palladium, with respect to hydrogen storage capacity and reversibility.</p>









  </div>